<div class="tasks_row">
  <% if user_signed_in? %>
    <% current_user.tasks.each do |task| %>
      <div class="task_post" >
        <div class="task-title"><%= task.title %>
          <div class="edit-text">
            <%= link_to '編集', edit_task_path(task.id), method: :get %>
          </div>
        </div>
        <span class="ifname">
          <p>IF:<%= task.if_task %></p>
          <p>THEN:<%= task.then_task %>
          </p>
        </span>
      </div>
    <% end %>
    <% if current_user.tasks.length == 0 %>
      <div class="task_post">
        <p>IF: ※習慣化したいことに結びつける行動・場所・時間などを入れよう</p>
        <p>THEN: ※習慣化したいことを入力</p>
    <% end %>
  <% end %>
</div>