<%= month_calendar events: @records do |date, records| %>
  <%= date.day %>

  <%# <% link_to date.all, new_record_path, method: :get%> 

  <% records.each do |record|%>
    <div>
      <% link_to record.count, record %>

    </div>
  <% end %>
<% end %>
