<%= link_to "記録を登録する", "/tasks/#{@task.id}/records/new", method: :get %>
  
<%= month_calendar records: @records do |date, records| %>
  <%= date.day %>

  <%# <% link_to date.all, new_record_path, method: :get%> 

  <% records.each do |record|%>
    <div>
      <%=  record.count %>
    </div>
  <% end %>
<% end %>
